
  /* Resetters */
*,*:before,*:after{

    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    
    }
    input,textarea{
    
    outline:none
    
    }
    input[type="submit"]{
    cursor:pointer;    
    }
    
    li,a{
    text-decoration:none;
    /* fonts styles */
    }
    .tajawal-extralight {
      font-family: "Tajawal", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
    
    .tajawal-regular {
      font-family: "Tajawal", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .tajawal-bold {
      font-family: "Tajawal", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .gradient-text {
      background: linear-gradient(90.72deg, #44649F 0%, #2DACDE 50.67%, #44649f 100.79%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
    }
    #mobile-nav {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #0d0e13;
        z-index: 999;
        padding: 0 1rem;
    } 
    
    /* hero section*/

    .hero-bg-video {
      position: absolute;
      border-radius: 16px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(#0006, #0006);
    }
    .hero-bg-video video {
      background-image: url(https://cdn.prod.website-files.com/6743f5d…%2F674d7c6…_propiz-hero-bg-poster-00001.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      inset: -100%;
      object-fit: cover;
      z-index: -100;
      background-position: 50%;
    }
    .active {
      background-color: #fe4c25 !important;
      color: white !important;
    }
    /* cards section */
    .card-img-container img {
      transform: translate3d(0px, 0px, 0px) scale3d(1.0, 1.0, 1.0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      transition-duration: 200ms;
    }
    .card-img-container img:hover {
      transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1.2) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    .agent-card-info {
      opacity: 1;
      transform: translate3d(-19px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      transition-duration: 600ms;
    }
    .agent-card-info2 {
      opacity: 0;
      transform: translate3d(-19px, 125%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      transition-duration: 700ms;
    }
    .agent-card:hover .agent-card-info {
      opacity: 0;
      transform: translate3d(-19px, 125%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    .agent-card:hover .agent-card-info2 {
      opacity: 1;
      transform: translate3d(-19px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }

